<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="commdgriest.httpsgithub.wimk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wimk_launcher_01"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenuScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VisualInventoryScreen"
            android:label="@string/title_activity_visual_inventory_screen"
            android:parentActivityName=".MainMenuScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="commdgriest.httpsgithub.wimk.MainMenuScreen" />
        </activity>
        <activity
            android:name=".AddItemScreen"
            android:label="@string/title_activity_add_item_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateItemQuantityScreen"
            android:label="@string/title_activity_update_item_quantity_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about_screen"
            android:label="@string/title_activity_about_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AboutScreen"
            android:label="@string/title_activity_about_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NounProjCreditScreen"
            android:label="@string/title_activity_noun_proj_credit_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsScreen"
            android:label="@string/title_activity_settings_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SortingSettingsScreen"
            android:label="@string/title_activity_sorting_settings_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateItemPropertiesScreen"
            android:label="@string/title_activity_update_item_properties_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateIconScreen"
            android:label="@string/title_activity_update_icon_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ScrollingVisualInventoryScreen"
            android:label="@string/title_activity_scrolling_visual_inventory_screen"
            android:parentActivityName=".MainMenuScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="commdgriest.httpsgithub.wimk.MainMenuScreen" />
        </activity>
        <activity
            android:name=".ScrollingVisualInventoryScreen00"
            android:label="@string/title_activity_scrolling_visual_inventory_screen00"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
